<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:1em;
        }
    </style>
</head>
 
<body>
    Total books = <%=data.totalItems%><br/>
     
    <ul>
        <%!data ? 'No Books in this bookshelf' : data.items.forEach((item)=>{%>
        <li><h2>Title : <%=item.title%></h2></li>
        <li><h4>Kind : <%=item.kind%></h4></li>
        <li>Id: <%=item.id%></li>
        <li>Access: <%=item.access%></li>
        <li>Volume Count: <%=item.volumeCount%></li>
        <li>Updated: <%=item.updated%></li>
        <li>Created: <%=item.created%></li>
        <a href="/api/v1/books/volumes/<%=item.id%>/<%=item.volumeCount%>"> VIEW</a><t/>
        <br/><br/>
        <%});%>
    </ul>
</body>
</html>